test/Read_and_Split.snapshot
{
  "header" : {
    "dataModelVersion" : "3"
  },
  "content" : {
    "flowSnapshot" : {
      "externalControllerServices" : {
        "893d8db1-0975-3d72-8c98-44ee98c29d07" : {
          "identifier" : "893d8db1-0975-3d72-8c98-44ee98c29d07",
          "name" : "CSVRecordSetWriter"
        },
        "3ede0b5a-b661-3547-88b7-f2ab1e994cee" : {
          "identifier" : "3ede0b5a-b661-3547-88b7-f2ab1e994cee",
          "name" : "CSVReader"
        },
        "07a1ff04-98a3-3469-b144-b7937e2b8cd1" : {
          "identifier" : "07a1ff04-98a3-3469-b144-b7937e2b8cd1",
          "name" : "read_for_partitioning"
        },
        "0a20ccaa-d99d-325b-9b45-774bd5fc2b3f" : {
          "identifier" : "0a20ccaa-d99d-325b-9b45-774bd5fc2b3f",
          "name" : "CSVRecordLookupService"
        }
      },
      "flowContents" : {
        "comments" : "",
        "componentType" : "PROCESS_GROUP",
        "connections" : [ {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "1735fb8b-f4f4-313a-b8cc-e0eda14bf96e",
            "instanceIdentifier" : "3293efa5-d5f3-3dc9-6a96-378a6fc77bb0",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "50a7e5fc-4022-3f13-adb0-75c93f008c4d",
          "instanceIdentifier" : "ea9000c0-3988-30c4-f44f-d38344fc42db",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "matched" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "f1cfe470-ee01-3db0-b466-bc7d09be80b2",
            "instanceIdentifier" : "38c6061b-770b-3423-6531-61f09cd920d5",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "751acc0a-1602-3c1a-9e4c-a11a0dde7cf2",
            "instanceIdentifier" : "33594857-0812-3b79-edfc-8b2496f811bd",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "cb833a83-937c-310c-bfd0-dc31f2373d34",
          "instanceIdentifier" : "74868006-7129-3768-9534-217a036faeb4",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "715ddd29-5cc2-3914-a4be-e10101152e55",
            "instanceIdentifier" : "a4e2744a-afa4-3ad5-32a5-0c42ea6dfcf9",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "ae7e3975-8339-3f6c-9942-d6a23e170874",
            "instanceIdentifier" : "03d89b0c-fa66-396e-74fb-c7ccba106db4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "eee01ade-1114-381e-a852-bdd4745aba4b",
          "instanceIdentifier" : "34c1b45e-a1d7-30c6-6ab9-1c38777fb01d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "189c326c-5fdc-3bf8-b7b4-36e6a6861058",
            "instanceIdentifier" : "aa149bb6-eb16-3aa8-0d4a-1158d7bd0093",
            "name" : "GetFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "781f8cce-4252-3c89-820e-16f56c9a2474",
            "instanceIdentifier" : "ab6db9d2-3128-34d0-bdd5-05202b9045a2",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "739cc485-e4d4-390a-9217-38250afa1b45",
          "instanceIdentifier" : "21515cd7-89f5-39a9-acb4-59bd0a77136e",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "1735fb8b-f4f4-313a-b8cc-e0eda14bf96e",
            "instanceIdentifier" : "3293efa5-d5f3-3dc9-6a96-378a6fc77bb0",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "ed1789c6-3b4d-3249-a5ea-5158d26a7a46",
            "instanceIdentifier" : "75e8a031-ccbb-3605-1f13-c133104410f5",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "7bdc0b6f-c377-3201-91f3-756b7356677e",
          "instanceIdentifier" : "5e6da915-603b-3352-aef4-7e24169c5e9d",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "f1cfe470-ee01-3db0-b466-bc7d09be80b2",
            "instanceIdentifier" : "38c6061b-770b-3423-6531-61f09cd920d5",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "715ddd29-5cc2-3914-a4be-e10101152e55",
            "instanceIdentifier" : "a4e2744a-afa4-3ad5-32a5-0c42ea6dfcf9",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "f7174be9-fd2a-3b91-a4d7-b28f3f62a9f5",
          "instanceIdentifier" : "01a9de4e-f4d4-37fc-c929-9eb812ce9d54",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "c8bc4e21-c957-3777-be5f-69a3e619ace0",
            "instanceIdentifier" : "818dbe5c-a3e8-38d5-45c2-af6a4e607c03",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "f1cfe470-ee01-3db0-b466-bc7d09be80b2",
            "instanceIdentifier" : "38c6061b-770b-3423-6531-61f09cd920d5",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "62b2c6b7-94c1-351a-83af-7ab9f5270039",
          "instanceIdentifier" : "82b3f8ef-03a7-38c5-68e5-09b8c0b9cf44",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "ae7e3975-8339-3f6c-9942-d6a23e170874",
            "instanceIdentifier" : "03d89b0c-fa66-396e-74fb-c7ccba106db4",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "496a280e-deec-3700-a4ae-5adaca78a22a",
            "instanceIdentifier" : "1c84abb2-a873-38c2-b41a-337eb1c11b7e",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "07d07186-e70c-3083-8150-19c39be74a45",
          "instanceIdentifier" : "6fb8f932-7dd9-37e6-163d-59b1fc002229",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "unmatched" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "f1cfe470-ee01-3db0-b466-bc7d09be80b2",
            "instanceIdentifier" : "38c6061b-770b-3423-6531-61f09cd920d5",
            "name" : "LookupRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "ed1789c6-3b4d-3249-a5ea-5158d26a7a46",
            "instanceIdentifier" : "75e8a031-ccbb-3605-1f13-c133104410f5",
            "name" : "LogMessage",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "f2001a72-da91-30d0-aa0b-953e46ff5ddc",
          "instanceIdentifier" : "d72d836b-42ee-3649-72d8-f22f08159a34",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "failure" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "1735fb8b-f4f4-313a-b8cc-e0eda14bf96e",
            "instanceIdentifier" : "3293efa5-d5f3-3dc9-6a96-378a6fc77bb0",
            "name" : "PutFile",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        }, {
          "backPressureDataSizeThreshold" : "1 GB",
          "backPressureObjectThreshold" : 10000,
          "bends" : [ ],
          "componentType" : "CONNECTION",
          "destination" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "c8bc4e21-c957-3777-be5f-69a3e619ace0",
            "instanceIdentifier" : "818dbe5c-a3e8-38d5-45c2-af6a4e607c03",
            "name" : "UpdateAttribute",
            "type" : "PROCESSOR"
          },
          "flowFileExpiration" : "0 sec",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "65bbcdc5-9e1b-3701-ac07-c3fcb81616ab",
          "instanceIdentifier" : "add03412-e682-390f-536d-924d6451ea43",
          "labelIndex" : 0,
          "loadBalanceCompression" : "DO_NOT_COMPRESS",
          "loadBalanceStrategy" : "DO_NOT_LOAD_BALANCE",
          "name" : "",
          "partitioningAttribute" : "",
          "prioritizers" : [ ],
          "selectedRelationships" : [ "success" ],
          "source" : {
            "comments" : "",
            "groupId" : "666dc329-ec11-3827-a9d8-88288adefa02",
            "id" : "496a280e-deec-3700-a4ae-5adaca78a22a",
            "instanceIdentifier" : "1c84abb2-a873-38c2-b41a-337eb1c11b7e",
            "name" : "PartitionRecord",
            "type" : "PROCESSOR"
          },
          "zIndex" : 0
        } ],
        "controllerServices" : [ ],
        "defaultBackPressureDataSizeThreshold" : "1 GB",
        "defaultBackPressureObjectThreshold" : 10000,
        "defaultFlowFileExpiration" : "0 sec",
        "flowFileConcurrency" : "UNBOUNDED",
        "flowFileOutboundPolicy" : "STREAM_WHEN_AVAILABLE",
        "funnels" : [ ],
        "identifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
        "inputPorts" : [ ],
        "instanceIdentifier" : "1cdb7071-0195-1000-4a54-69de7f0290b8",
        "labels" : [ ],
        "name" : "Read and split",
        "outputPorts" : [ ],
        "position" : {
          "x" : -1616.0,
          "y" : -304.0
        },
        "processGroups" : [ ],
        "processors" : [ {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "ed1789c6-3b4d-3249-a5ea-5158d26a7a46",
          "instanceIdentifier" : "75e8a031-ccbb-3605-1f13-c133104410f5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -1103.9999767276017,
            "y" : 171.89997459088846
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "751acc0a-1602-3c1a-9e4c-a11a0dde7cf2",
          "instanceIdentifier" : "33594857-0812-3b79-edfc-8b2496f811bd",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 752.0000232723983,
            "y" : -252.10002540911154
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "189c326c-5fdc-3bf8-b7b4-36e6a6861058",
          "instanceIdentifier" : "aa149bb6-eb16-3aa8-0d4a-1158d7bd0093",
          "maxBackoffPeriod" : "10 mins",
          "name" : "GetFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -391.99997672760173,
            "y" : -548.1000254091116
          },
          "properties" : {
            "Keep Source File" : "true",
            "Minimum File Age" : "0 sec",
            "Polling Interval" : "0 sec",
            "Input Directory" : "/home/gauravkadaskar/Desktop/input_files",
            "Batch Size" : "10",
            "Minimum File Size" : "0 B",
            "Ignore Hidden Files" : "true",
            "Recurse Subdirectories" : "true",
            "File Filter" : "Employee.csv"
          },
          "propertyDescriptors" : {
            "Keep Source File" : {
              "displayName" : "Keep Source File",
              "identifiesControllerService" : false,
              "name" : "Keep Source File",
              "sensitive" : false
            },
            "Minimum File Age" : {
              "displayName" : "Minimum File Age",
              "identifiesControllerService" : false,
              "name" : "Minimum File Age",
              "sensitive" : false
            },
            "Polling Interval" : {
              "displayName" : "Polling Interval",
              "identifiesControllerService" : false,
              "name" : "Polling Interval",
              "sensitive" : false
            },
            "Input Directory" : {
              "displayName" : "Input Directory",
              "identifiesControllerService" : false,
              "name" : "Input Directory",
              "sensitive" : false
            },
            "Maximum File Age" : {
              "displayName" : "Maximum File Age",
              "identifiesControllerService" : false,
              "name" : "Maximum File Age",
              "sensitive" : false
            },
            "Batch Size" : {
              "displayName" : "Batch Size",
              "identifiesControllerService" : false,
              "name" : "Batch Size",
              "sensitive" : false
            },
            "Maximum File Size" : {
              "displayName" : "Maximum File Size",
              "identifiesControllerService" : false,
              "name" : "Maximum File Size",
              "sensitive" : false
            },
            "Minimum File Size" : {
              "displayName" : "Minimum File Size",
              "identifiesControllerService" : false,
              "name" : "Minimum File Size",
              "sensitive" : false
            },
            "Ignore Hidden Files" : {
              "displayName" : "Ignore Hidden Files",
              "identifiesControllerService" : false,
              "name" : "Ignore Hidden Files",
              "sensitive" : false
            },
            "Recurse Subdirectories" : {
              "displayName" : "Recurse Subdirectories",
              "identifiesControllerService" : false,
              "name" : "Recurse Subdirectories",
              "sensitive" : false
            },
            "File Filter" : {
              "displayName" : "File Filter",
              "identifiesControllerService" : false,
              "name" : "File Filter",
              "sensitive" : false
            },
            "Path Filter" : {
              "displayName" : "Path Filter",
              "identifiesControllerService" : false,
              "name" : "Path Filter",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "60 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.GetFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "f1cfe470-ee01-3db0-b466-bc7d09be80b2",
          "instanceIdentifier" : "38c6061b-770b-3423-6531-61f09cd920d5",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LookupRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -415.99997672760173,
            "y" : 19.899974590888462
          },
          "properties" : {
            "result-contents" : "insert-entire-record",
            "routing-strategy" : "route-to-matched-unmatched",
            "record-path-lookup-miss-result-cache-size" : "0",
            "result-record-path" : "/",
            "record-writer" : "893d8db1-0975-3d72-8c98-44ee98c29d07",
            "record-reader" : "3ede0b5a-b661-3547-88b7-f2ab1e994cee",
            "lookup-service" : "0a20ccaa-d99d-325b-9b45-774bd5fc2b3f",
            "record-update-strategy" : "use-property",
            "key" : "/loc_id"
          },
          "propertyDescriptors" : {
            "result-contents" : {
              "displayName" : "Record Result Contents",
              "identifiesControllerService" : false,
              "name" : "result-contents",
              "sensitive" : false
            },
            "routing-strategy" : {
              "displayName" : "Routing Strategy",
              "identifiesControllerService" : false,
              "name" : "routing-strategy",
              "sensitive" : false
            },
            "Root Record Path" : {
              "displayName" : "Root Record Path",
              "identifiesControllerService" : false,
              "name" : "Root Record Path",
              "sensitive" : false
            },
            "record-path-lookup-miss-result-cache-size" : {
              "displayName" : "Cache Size",
              "identifiesControllerService" : false,
              "name" : "record-path-lookup-miss-result-cache-size",
              "sensitive" : false
            },
            "result-record-path" : {
              "displayName" : "Result RecordPath",
              "identifiesControllerService" : false,
              "name" : "result-record-path",
              "sensitive" : false
            },
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "lookup-service" : {
              "displayName" : "Lookup Service",
              "identifiesControllerService" : true,
              "name" : "lookup-service",
              "sensitive" : false
            },
            "record-update-strategy" : {
              "displayName" : "Record Update Strategy",
              "identifiesControllerService" : false,
              "name" : "record-update-strategy",
              "sensitive" : false
            },
            "key" : {
              "displayName" : "key",
              "identifiesControllerService" : false,
              "name" : "key",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LookupRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "1735fb8b-f4f4-313a-b8cc-e0eda14bf96e",
          "instanceIdentifier" : "3293efa5-d5f3-3dc9-6a96-378a6fc77bb0",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -336.0,
            "y" : 232.0
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/gauravkadaskar/Desktop/output_files",
            "Conflict Resolution Strategy" : "replace"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "success" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "781f8cce-4252-3c89-820e-16f56c9a2474",
          "instanceIdentifier" : "ab6db9d2-3128-34d0-bdd5-05202b9045a2",
          "maxBackoffPeriod" : "10 mins",
          "name" : "LogMessage",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -535.9999767276017,
            "y" : 419.89997459088846
          },
          "properties" : {
            "log-level" : "info"
          },
          "propertyDescriptors" : {
            "log-message" : {
              "displayName" : "Log message",
              "identifiesControllerService" : false,
              "name" : "log-message",
              "sensitive" : false
            },
            "log-level" : {
              "displayName" : "Log Level",
              "identifiesControllerService" : false,
              "name" : "log-level",
              "sensitive" : false
            },
            "log-prefix" : {
              "displayName" : "Log prefix",
              "identifiesControllerService" : false,
              "name" : "log-prefix",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.LogMessage",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "original", "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "496a280e-deec-3700-a4ae-5adaca78a22a",
          "instanceIdentifier" : "1c84abb2-a873-38c2-b41a-337eb1c11b7e",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PartitionRecord",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 288.00002327239827,
            "y" : 123.89997459088846
          },
          "properties" : {
            "record-writer" : "893d8db1-0975-3d72-8c98-44ee98c29d07",
            "record-reader" : "07a1ff04-98a3-3469-b144-b7937e2b8cd1",
            "loc_id" : "/loc_id"
          },
          "propertyDescriptors" : {
            "record-writer" : {
              "displayName" : "Record Writer",
              "identifiesControllerService" : true,
              "name" : "record-writer",
              "sensitive" : false
            },
            "record-reader" : {
              "displayName" : "Record Reader",
              "identifiesControllerService" : true,
              "name" : "record-reader",
              "sensitive" : false
            },
            "loc_id" : {
              "displayName" : "loc_id",
              "identifiesControllerService" : false,
              "name" : "loc_id",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PartitionRecord",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "c8bc4e21-c957-3777-be5f-69a3e619ace0",
          "instanceIdentifier" : "818dbe5c-a3e8-38d5-45c2-af6a4e607c03",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 304.0,
            "y" : -136.0
          },
          "properties" : {
            "filename" : "${filename}_${loc_id}.csv",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "filename" : {
              "displayName" : "filename",
              "identifiesControllerService" : false,
              "name" : "filename",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ "failure" ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-standard-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "715ddd29-5cc2-3914-a4be-e10101152e55",
          "instanceIdentifier" : "a4e2744a-afa4-3ad5-32a5-0c42ea6dfcf9",
          "maxBackoffPeriod" : "10 mins",
          "name" : "PutFile",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : 120.00002327239827,
            "y" : -396.10002540911154
          },
          "properties" : {
            "Create Missing Directories" : "true",
            "Directory" : "/home/gauravkadaskar/Desktop/output_files",
            "Conflict Resolution Strategy" : "fail"
          },
          "propertyDescriptors" : {
            "Group" : {
              "displayName" : "Group",
              "identifiesControllerService" : false,
              "name" : "Group",
              "sensitive" : false
            },
            "Owner" : {
              "displayName" : "Owner",
              "identifiesControllerService" : false,
              "name" : "Owner",
              "sensitive" : false
            },
            "Create Missing Directories" : {
              "displayName" : "Create Missing Directories",
              "identifiesControllerService" : false,
              "name" : "Create Missing Directories",
              "sensitive" : false
            },
            "Permissions" : {
              "displayName" : "Permissions",
              "identifiesControllerService" : false,
              "name" : "Permissions",
              "sensitive" : false
            },
            "Maximum File Count" : {
              "displayName" : "Maximum File Count",
              "identifiesControllerService" : false,
              "name" : "Maximum File Count",
              "sensitive" : false
            },
            "Last Modified Time" : {
              "displayName" : "Last Modified Time",
              "identifiesControllerService" : false,
              "name" : "Last Modified Time",
              "sensitive" : false
            },
            "Directory" : {
              "displayName" : "Directory",
              "identifiesControllerService" : false,
              "name" : "Directory",
              "sensitive" : false
            },
            "Conflict Resolution Strategy" : {
              "displayName" : "Conflict Resolution Strategy",
              "identifiesControllerService" : false,
              "name" : "Conflict Resolution Strategy",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 0,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.standard.PutFile",
          "yieldDuration" : "1 sec"
        }, {
          "autoTerminatedRelationships" : [ ],
          "backoffMechanism" : "PENALIZE_FLOWFILE",
          "bulletinLevel" : "WARN",
          "bundle" : {
            "artifact" : "nifi-update-attribute-nar",
            "group" : "org.apache.nifi",
            "version" : "2.2.0"
          },
          "comments" : "",
          "componentType" : "PROCESSOR",
          "concurrentlySchedulableTaskCount" : 1,
          "executionNode" : "ALL",
          "groupIdentifier" : "666dc329-ec11-3827-a9d8-88288adefa02",
          "identifier" : "ae7e3975-8339-3f6c-9942-d6a23e170874",
          "instanceIdentifier" : "03d89b0c-fa66-396e-74fb-c7ccba106db4",
          "maxBackoffPeriod" : "10 mins",
          "name" : "UpdateAttribute",
          "penaltyDuration" : "30 sec",
          "position" : {
            "x" : -391.99997672760173,
            "y" : -268.10002540911154
          },
          "properties" : {
            "output_def" : "output_schema",
            "input_def" : "input_schema",
            "Store State" : "Do not store state",
            "canonical-value-lookup-cache-size" : "100"
          },
          "propertyDescriptors" : {
            "output_def" : {
              "displayName" : "output_def",
              "identifiesControllerService" : false,
              "name" : "output_def",
              "sensitive" : false
            },
            "Delete Attributes Expression" : {
              "displayName" : "Delete Attributes Expression",
              "identifiesControllerService" : false,
              "name" : "Delete Attributes Expression",
              "sensitive" : false
            },
            "input_def" : {
              "displayName" : "input_def",
              "identifiesControllerService" : false,
              "name" : "input_def",
              "sensitive" : false
            },
            "Store State" : {
              "displayName" : "Store State",
              "identifiesControllerService" : false,
              "name" : "Store State",
              "sensitive" : false
            },
            "canonical-value-lookup-cache-size" : {
              "displayName" : "Cache Value Lookup Cache Size",
              "identifiesControllerService" : false,
              "name" : "canonical-value-lookup-cache-size",
              "sensitive" : false
            },
            "Stateful Variables Initial Value" : {
              "displayName" : "Stateful Variables Initial Value",
              "identifiesControllerService" : false,
              "name" : "Stateful Variables Initial Value",
              "sensitive" : false
            }
          },
          "retriedRelationships" : [ ],
          "retryCount" : 10,
          "runDurationMillis" : 25,
          "scheduledState" : "ENABLED",
          "schedulingPeriod" : "0 sec",
          "schedulingStrategy" : "TIMER_DRIVEN",
          "style" : { },
          "type" : "org.apache.nifi.processors.attributes.UpdateAttribute",
          "yieldDuration" : "1 sec"
        } ],
        "remoteProcessGroups" : [ ],
        "variables" : { }
      },
      "flowEncodingVersion" : "1.0",
      "parameterContexts" : { },
      "parameterProviders" : { }
    }
  }
}